<system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="font/fontbold2" />   
      <mimeMap fileExtension=".json" mimeType="font/fontsbold" />  
      <mimeMap fileExtension=".hdr" mimeType="video/snow_field_4k" />
      <mimeMap fileExtension=".hdr" mimeType="video/kloppenheim_02_4k" />
    </staticContent>
  </system.webServer>